<a href="https://colab.research.google.com/github/projectsforstudents2022/Analysis_Of_Football_Transfer_Market_Network/blob/main/Analysis_Of_Football_Transfer_Market_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
dataset = pd.read_csv('/content/drive/MyDrive/Projects/Analysis_Of_Football_Transfer_Market_Network/TopTransfer1.csv')

In [6]:
dataset

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,60000000,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,56810000,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,40000000,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,36150000,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,34500000,34500000
...,...,...,...,...,...,...,...,...,...,...
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000,4800000
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000,4800000
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000,4500000
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000,4500000
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000,4500000

In [7]:
dataset['League_from'].value_counts().head(10)

Premier League    608
Serie A           602
Ligue 1           428
LaLiga            418
1.Bundesliga      265
Série A           199
Championship      197
Eredivisie        190
Liga NOS          178
Premier Liga      169
Name: League_from, dtype: int64

In [8]:
dataset['League_to'].value_counts().head(10)

Premier League    1256
Serie A            739
LaLiga             525
1.Bundesliga       422
Ligue 1            397
Premier Liga       328
Süper Lig          143
Liga NOS           127
Super League       122
Eredivisie         108
Name: League_to, dtype: int64

In [9]:
domestik = dataset[dataset['League_from'] == dataset['League_to']]
len(domestik)

1530

In [10]:
lintas = dataset[dataset['League_from'] != dataset['League_to']]
len(lintas)

3170

In [11]:
domestik['League_from'].value_counts().head()

Premier League    374
Serie A           359
Ligue 1           159
LaLiga            147
1.Bundesliga      136
Name: League_from, dtype: int64

In [12]:
domestik['Team_from'].value_counts().head()

Spurs        38
Inter        36
Genoa        33
Liverpool    32
Parma        32
Name: Team_from, dtype: int64

In [13]:
domestik['Team_to'].value_counts().head()

Juventus    53
Inter       45
AS Roma     31
AC Milan    31
Man City    29
Name: Team_to, dtype: int64

In [14]:
lintas['League_from'].value_counts().head()

LaLiga            271
Ligue 1           269
Serie A           243
Premier League    234
Série A           190
Name: League_from, dtype: int64

In [15]:
lintas['Team_from'].value_counts().head()

FC Porto           56
Benfica            52
Atlético Madrid    45
Real Madrid        41
River Plate        39
Name: Team_from, dtype: int64

In [16]:
lintas['League_to'].value_counts().head()

Premier League    882
Serie A           380
LaLiga            378
1.Bundesliga      286
Premier Liga      252
Name: League_to, dtype: int64

In [17]:
lintas['Team_to'].value_counts().head()

Chelsea      75
Spurs        68
Man City     65
Liverpool    60
Arsenal      54
Name: Team_to, dtype: int64

In [18]:
print('Market val rata-rata domestik = {}\nMarket val rata-rata lintas = \t{}'.format((domestik['Market_value'].mean()), ((lintas['Market_value'].mean()))))

Market val rata-rata domestik = 8061960.784313725
Market val rata-rata lintas = 	7912924.29022082

In [19]:
print('Transfer Fee rata-rata domestik = {}\nTransfer Fee rata-rata lintas =   {}'.format((domestik['Transfer_fee'].mean()), ((lintas['Transfer_fee'].mean()))))

Transfer Fee rata-rata domestik = 9549379.08496732
Transfer Fee rata-rata lintas =   9398455.835962145

In [20]:
print('Market Val total domestik = {}\nMarket Val total lintas =   {}'.format((domestik['Market_value'].sum()), (lintas['Market_value'].sum())))

Market Val total domestik = 12334800000
Market Val total lintas =   25083970000

In [21]:
print('Transfer Fee total domestik = {}\nTransfer Fee total lintas =   {}'.format((domestik['Transfer_fee'].sum()), (lintas['Transfer_fee'].sum())))

Transfer Fee total domestik = 14610550000
Transfer Fee total lintas =   29793105000

In [22]:
domestik['Season'].value_counts().head()

2011-2012    96
2009-2010    92
2013-2014    92
2008-2009    89
2002-2003    88
Name: Season, dtype: int64

In [23]:
lintas['Season'].value_counts().head()

2004-2005    179
2000-2001    178
2014-2015    176
2003-2004    172
2007-2008    171
Name: Season, dtype: int64

In [24]:
positioning = dataset['Position']
post = positioning.replace(('Centre-Forward', 'Second Striker', 'Right Winger', 'Left Winger', 'Forward', 'Right Midfield', 'Attacking Midfield', 'Left Midfield', 'Central Midfield', 'Defensive Midfield', 'Midfielder', 'Right-Back', 'Centre-Back', 'Left-Back', 'Sweeper', 'Defender', 'Goalkeeper'), ('FW','FW','FW','FW','FW','MD','MD','MD','MD','MD','MD','DF','DF','DF','DF','DF','GK'))
dataset['Role'] = post

In [25]:
param = ['Age', 'Role', 'Season']
a = dataset[dataset['Transfer_fee'] > dataset['Market_value']][param]
b = a['Role'].value_counts()
c = dataset['Role'].value_counts()
d = a['Age'].value_counts().head()
s = a['Season'].value_counts().head()
print('Footballers average age who were overprice = \n{}\n\nAmounts of Role in dataset = \n{}\n\nAmounts of Role who were overpriced = \n{}\n\nSeasons = \n{}'.format(d,c,b,s))

Footballers average age who were overprice =
24    270
23    265
25    255
22    243
21    188
Name: Age, dtype: int64

Amounts of Role in dataset =
FW    1923
MD    1475
DF    1122
GK     180
Name: Role, dtype: int64

Amounts of Role who were overpriced =
FW    950
MD    626
DF    525
GK     76
Name: Role, dtype: int64

Seasons =
2016-2017    208
2017-2018    196
2015-2016    191
2009-2010    169
2014-2015    169
Name: Season, dtype: int64

In [26]:
fw = dataset[dataset['Role'] == 'FW']['Transfer_fee'].mean()
md = dataset[dataset['Role'] == 'MD']['Transfer_fee'].mean()
df = dataset[dataset['Role'] == 'DF']['Transfer_fee'].mean()
gk = dataset[dataset['Role'] == 'GK']['Transfer_fee'].mean()
print('Average transfer fee of attackers = \n{}\n\nAverage transfer fee of midfielders = \n{}\n\nAverage transfer fee of defenders = \n{}\n\nAverage transfer fee of goalkeepers = \n{}\n\n'.format(fw,md,df,gk))

Average transfer fee of attackers =
10355990.639625585

Average transfer fee of midfielders =
9389606.779661017

Average transfer fee of defenders =
8259656.862745098

Average transfer fee of goalkeepers =
7622666.666666667

# Feature Engineering

In [27]:
vd = dataset['Transfer_fee'] - dataset['Market_value']
vd[vd > 0] = 1
vd[vd <= 0] = 0
dataset['Category'] = vd

In [28]:
mig = dataset['League_from'] == dataset['League_to']
migration = mig.replace((True, False), (1,0))
dataset['Migration'] = migration

In [29]:
age_max = dataset['Age'].max()
age_min = dataset['Age'].min()
age = (dataset['Age'] - age_min) / (age_max - age_min)

In [30]:
musim = dataset['Season']
season = musim.replace(('2000-2001', '2001-2002', '2002-2003', '2003-2004', '2004-2005', '2005-2006', '2006-2007', '2007-2008', '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013', '2013-2014', '2014-2015', '2015-2016', '2016-2017', '2017-2018', '2018-2019'), (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18, 19))
season_max = season.max()
season_min = season.min()
sea = (season - season_min) / (season_max - season_min)

In [31]:
roles = dataset['Role']
role = roles.replace(('FW', 'MD', 'DF', 'GK'), (4,3,2,1))
role_max = role.max()
role_min = role.min()
Role = (role - role_min) / (role_max - role_min)

In [32]:
Role = pd.Series(Role)
Age = pd.Series(age)
Season = pd.Series(sea)
Value_difference = pd.Series(vd)
Migration = pd.Series(migration)
dt = pd.DataFrame({'Role': Role, 'Age': Age,'Season': Season,'Category': Value_difference, 'Migration': Migration})
dataset2 = dt[['Age', 'Season','Role','Migration','Category']]
dataset2

           Age  Season      Role  Migration  Category
0     0.771429     0.0  1.000000          1         0
1     0.714286     0.0  1.000000          1         0
2     0.771429     0.0  1.000000          0         0
3     0.885714     0.0  1.000000          1         0
4     0.600000     0.0  1.000000          0         0
...        ...     ...       ...        ...       ...
4695  0.828571     1.0  0.666667          1         0
4696  0.714286     1.0  0.666667          0         1
4697  0.714286     1.0  0.333333          0         0
4698  0.800000     1.0  1.000000          0         0
4699  0.771429     1.0  0.333333          1         1

[4700 rows x 5 columns]

In [33]:
data = dataset2[1000:]
data

           Age    Season      Role  Migration  Category
1000  0.657143  0.222222  0.666667          0         0
1001  0.514286  0.222222  1.000000          1         1
1002  0.685714  0.222222  0.666667          0         0
1003  0.628571  0.222222  0.000000          0         0
1004  0.771429  0.222222  0.333333          0         1
...        ...       ...       ...        ...       ...
4695  0.828571  1.000000  0.666667          1         0
4696  0.714286  1.000000  0.666667          0         1
4697  0.714286  1.000000  0.333333          0         0
4698  0.800000  1.000000  1.000000          0         0
4699  0.771429  1.000000  0.333333          1         1

[3700 rows x 5 columns]

# Splitting & Model Selection

In [34]:
array = data.values
x = array[:, 0:4]
y = array[:, 4]
num_data_points = len(y)

x_train = x[:int(.65 * num_data_points)]
y_train = y[:int(.65 * num_data_points)]
x_test = x[int(.65 * num_data_points):int(.85 * num_data_points)]
y_test = y[int(.65 * num_data_points):int(.85 * num_data_points)]
cross_val_x = x[int(.85 * num_data_points):]
cross_val_y = y[int(.85 * num_data_points):]

# Deploying Model & Result

In [35]:
model = LogisticRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

print('Logistic Regression accuracy (Test): %f' % model.score(x_test, y_test))
print('Logistic Regression accuracy (Validation): %f' % model.score(cross_val_x, cross_val_y))

Logistic Regression accuracy (Test): 0.740541
Logistic Regression accuracy (Validation): 0.740541